@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400,700");
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  height: 100%;
}
body {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #444;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  min-height: 100%;
  overflow-y: scroll;
}
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
.container.grid {
  padding: 0;
  max-width: 1200px;
}
.pos-r {
  position: relative;
}
.button {
  display: inline-block;
  padding: 5px 30px;
  background: #f6830b;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.button-shade,
input[type='submit'],
button {
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -10px 20px -1px rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}
.button-shade:hover,
input[type='submit']:hover,
button:hover {
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -10px 20px 3px rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1), 0 5px 5px -2px rgba(0,0,0,0.3);
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 48px;
  line-height: 60px;
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 300;
}
h2 {
  font-size: 36px;
  line-height: 45px;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 300;
}
h3 {
  font-size: 30px;
  line-height: 45px;
  font-size: 1.875rem;
  line-height: 2.8125rem;
}
h4 {
  font-size: 24px;
  line-height: 30px;
  font-size: 1.5rem;
  line-height: 1.875rem;
}
h5 {
  font-size: 20px;
  line-height: 30px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
h6 {
  font-size: 18px;
  line-height: 25px;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}
input[type="text"],
input[type="email"],
input[type="name"],
input[type="password"],
input[type="submit"],
input[type="url"],
input[type="tel"],
select,
textarea,
button {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  font-size: 1rem;
  line-height: 1.875rem;
  font-family: inherit;
  margin-bottom: 20px;
  background: #fcfcfc;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="name"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: #29d;
}
select {
  background: url("../images/dropdown.png") no-repeat center right #fcfcfc;
  background-size: 20px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
input[type='submit'],
button {
  width: auto;
  color: #fff;
  background-color: #f6830b;
  font-weight: 700;
  border: none;
  margin: 0;
  cursor: pointer;
}
.inline-labels label {
  position: relative;
  padding-left: 160px;
  display: block;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 520px) {
  .inline-labels label {
    padding-left: 0;
  }
}
.inline-labels label .label-text {
  position: absolute;
  left: 0;
  line-height: 42px;
}
.inline-labels label .label-text:after {
  content: "*";
}
@media only screen and (max-width: 520px) {
  .inline-labels label .label-text {
    position: static;
    line-height: normal;
  }
}
img {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-nav {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.main-nav .logo-box {
  position: relative;
  float: left;
}
.main-nav .logo-box div.logo {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.main-nav .logo-box div.logo a {
  font-size: 36px;
  line-height: 67.5px;
  font-size: 2.25rem;
  line-height: 4.21875rem;
  line-height: 75px;
  width: 170px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  background: url("../images/logo.png") right no-repeat;
  background: url("../images/logo.svg") center/100% no-repeat;
  text-decoration: none;
}
.main-nav .logo-box .site-description {
  position: absolute;
  top: 51%;
  right: 0;
  font-size: 14px;
  line-height: 26.25px;
  font-size: 0.875rem;
  line-height: 1.640625rem;
}
.main-nav ul {
  float: right;
}
.main-nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-top: 30px;
}
.main-nav ul li a {
  text-decoration: none;
  margin: 0 0 0 20px;
  color: #444;
}
.main-nav ul li a:hover {
  text-decoration: underline;
}
.main-nav.sticky-nav {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 100;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.main {
  padding-top: 120px;
}
.main .intro-row {
  width: 100%;
  max-width: 840px;
  margin: 0 auto 30px;
}
.row + .row {
  padding-top: 30px;
  border-top: 1px solid #eee;
}
[class*="dev-"] {
  text-align: center;
  padding: 60px 0;
}
[class*="dev-"] .icon {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  background: url("../images/dev-sprites-v2.png") no-repeat;
}
[class*="dev-"] .button {
  font-size: 20px;
  line-height: 30px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.column {
  width: 233px;
  height: 170px;
  display: inline-block;
  background: #29d;
  position: relative;
  overflow: hidden;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.column.title {
  background: none;
}
.column .icon-frame {
  width: 235px;
  height: 170px;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 2;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.odd .column .icon-frame {
  background-color: #fafafa;
}
.column .icon-frame .pkg {
  position: relative;
  top: -15%;
}
.column .icon-frame .pkg span {
  display: inline-block;
  padding: 3px 15px;
  background: #ccc;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.column .icon-frame.mobile:before,
.column .icon-frame.mobile:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  color: #fff;
}
.column .icon-frame.mobile:before {
  width: 32px;
  height: 32px;
  background: none;
  border: 32px solid #ccc;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.column .icon-frame.mobile:after {
  content: "Mobile";
  width: 50px;
  height: 57px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 20px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAjCAMAAAAkGTMsAAAApVBMVEUAAAD////////////////////////////////////////////////////////////k5OT////////////////////////o6Oj////////////////////////////////////////////Jycn////////////S0tL////////////////9/f3////////////////////7+/v///////////////82YiKEAAAANnRSTlMAAAECAwQGCQoMDhUWHSIjM0NJSk1SV1thY25xc3uAgY+UmKOkpa2zu9ju8fP19vf4+fr6/P6h4PLpAAAAqUlEQVR42o3KRw6CAAAF0VHsYu+9YVcQBe9/NJWEiBHlz26SR35ysM9/so+7ThZjeU/It4eQnieyPcAsibkAjPxgtr1WO6wxjagbQQPvNat6pRpm9r8VXfc519PxnR2jaB4c5+JGujhh3luRK5vx1TYRRepHRStQCay0/lBoCk2hKTSFptAUmkJToCk0habQFJpCU2gKTaEpNIWm0BSpgqJgLKmMpSiMxQPyHUI/m4VP4wAAAABJRU5ErkJggg==") bottom center no-repeat;
}
.column .icon {
  display: inline-block;
  width: 146px;
  height: 147px;
}
.column:hover {
  border-top: 1px solid #eee;
}
.column:hover .icon-frame {
  top: -50px;
}
.column .download-box {
  width: 100%;
  display: inline-block;
  padding-top: 130px;
}
.column .download-box a.download-button,
.column .download-box a.doc-button,
.column .download-box a.c-button {
  font-size: 14px;
  line-height: 20px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #29d;
  background: #fff;
  border: none;
  margin: 0 5px;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0.9;
}
.column .download-box a.download-button:hover,
.column .download-box a.doc-button:hover,
.column .download-box a.c-button:hover {
  opacity: 1;
}
.column .download-box a.download-button:before,
.column .download-box a.doc-button:before,
.column .download-box a.c-button:before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
.column .download-box a.doc-button:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAS0lEQVQYV2NkYGBgUJp59z+IxgbupSszgsQZQYpgHGSFMHEYTVAhzEa4QmTrQTagOweniejOwGoiSBHMVBhNuYkwq0k3kVCAw9wLAOaNViwUtk1mAAAAAElFTkSuQmCC") no-repeat center center;
}
.column .download-box a.download-button:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQklEQVQYV2NkYGBgUJp59z+IxgXupSszMoIUgRj4FILUYCiEmY6smcYKYW5FthpZDMWN6L6HuZMyN2ILJrCJxAY4ADgbXMOAxAyYAAAAAElFTkSuQmCC") no-repeat center center;
}
.column .download-box a.c-button:before {
  content: none;
}
.odd {
  background: none;
}
.even {
  background: #fff;
}
.dev-mobile-sdk a.download-button {
  background: 0;
  border: 1px solid #29d;
  padding: 0 10px;
  border-radius: 5px;
}
.dev-mobile-sdk .column {
  width: 280px;
  text-align: center;
  float: left;
  padding: 15px 0;
}
.dev-mobile-sdk .column h4 {
  font-weight: 300;
  text-align: center;
}
.dev-mobile-sdk .column h4 span.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: -3px;
}
.dev-mobile-sdk a.download-button {
  margin-top: 10px;
}
.dev-third-party .column {
  margin: 0;
  width: 195px;
  float: left;
}
.dev-third-party .column .icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.dev-help {
  background: #29d;
  padding: 90px 0;
}
.dev-help > .panel-grid-cell {
  border-right: 1px solid #fff;
}
.dev-help > .panel-grid-cell:last-child {
  border-right: none;
}
@media only screen and (max-width: 780px) {
  .dev-help > .panel-grid-cell {
    border-right: none;
  }
}
.dev-help .icon {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: url("images/developers/dev-help-sprite.png");
}
.dev-help h2 {
  color: #fff;
  font-size: 36px;
  line-height: 67.5px;
  font-size: 2.25rem;
  line-height: 4.21875rem;
  line-height: 30px;
}
.dev-help p {
  color: #fff;
  line-height: 25px;
  margin: 30px 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
.dev-help a.button {
  font-size: 16px;
  line-height: 30px;
  font-size: 1rem;
  line-height: 1.875rem;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background: #fff;
  color: #29d;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
}
.dev-help a.button.free-trial {
  background: #ffb23c;
  color: #8b4f15;
  font-weight: 700;
  border: 2px solid #f89406;
  -ms-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.dev-help a.phone {
  color: #fff;
  background: none;
  border: 1px solid #fff;
}
/*icons*/
.dev-help .icon.support-icon {
  background-position: 0 0;
}
.dev-help .icon.api-icon {
  background-position: -120px 0;
}
.dev-help .icon.contact-icon {
  background-position: -240px 0;
}
.user-help .icon.question-icon {
  background-position: 0 -133px;
}
.user-help .icon.demo-icon {
  background-position: -120px -133px;
}
.user-help .icon.start-icon {
  background-position: -240px -133px;
}
.icon.wordpress {
  background-position: -3px 0px;
}
.icon.drupal {
  background-position: -150px 0;
}
.icon.joomla {
  background-position: -300px 0;
}
.icon.dotnet,
.icon.dotnetnuke {
  background-position: -450px 0;
}
.icon.presta,
.icon.prestashop {
  background-position: -600px 0;
}
.icon.oscommerce,
.icon.oscomm {
  background-position: -750px 0;
}
.icon.simplemachines {
  background-position: -900px 0;
}
.icon.vanilla {
  background-position: -1050px 0;
}
.icon.magento {
  background-position: 0 -150px;
}
.icon.zencart {
  background-position: -150px -150px;
}
.icon.xcart {
  background-position: -300px -150px;
}
.icon.vbulletin {
  background-position: -450px -150px;
}
.icon.phpbb {
  background-position: -600px -150px;
}
.icon.buddypress {
  background-position: -750px -150px;
}
.icon.bbpress {
  background-position: -900px -150px;
}
.icon.jomsocial {
  background-position: -1050px -150px;
}
.icon.ee,
.icon.expressionengine {
  background-position: -1053px -150px;
}
.icon.azure {
  background-position: -1199px 0;
}
.icon.sitefinity {
  background-position: -1199px -150px;
}
.icon.zimbra {
  background-position: -1350px 0;
}
.icon.jive {
  background-position: -1350px -150px;
}
.icon.bigcommerce {
  background-position: -1500px 0;
}
.icon.shopify {
  background-position: -1500px -150px;
}
.icon.volusion {
  background-position: -1350px -300px;
}
.icon.ios {
  background-position: -1050px -450px;
}
.icon.android {
  background-position: -1200px -300px;
}
.icon.windowsphone,
.icon.windows.phone {
  background-position: -1200px -450px;
}
.icon.phonegap {
  background-position: -1350px -450px;
}
.icon.parse {
  background-position: -1500px -300px;
}
.icon.exacttarget {
  background-position: -1182px -605px;
}
.icon.mixpanel {
  background-position: -1194px -799px;
}
.icon.kissmetrics {
  background-position: -1370px -600px;
}
.icon.mandrill {
  background-position: -1568px -595px;
}
.icon.bluehornet {
  background-position: -1379px -800px;
}
.icon.hootsuite {
  background-position: -1512px -450px;
}
.icon.sugarcrm {
  background-position: -1540px -770px;
  width: 195px !important;
}
.icon.livefyre {
  background-position: 2px -955px;
  width: 195px !important;
}
.icon.viafoura {
  background-position: -397px -920px;
}
.icon.zendesk {
  background-position: -200px -920px;
}
.icon.desk {
  background-position: -600px -925px;
  width: 195px !important;
}
.icon.doubleclick {
  background-position: -805px -950px;
}
.icon.adroll {
  background-position: -1002px -941px;
}
.icon.fb-ad,
.icon.facebook.network {
  background-position: -1191px -954px;
}
.icon.google-ad-icon,
.icon.google {
  background-position: -1375px -935px;
}
.icon.mailchimp {
  background-position: -21px -613px;
}
.icon.sendgrid {
  background-position: -225px -613px;
}
.icon.disqus {
  background-position: -396px -612px;
  width: 195px !important;
}
.icon.salesforce {
  background-position: -612px -615px;
}
.icon.infusion-soft,
.icon.infusionsoft {
  background-position: -780px -609px;
  width: 195px !important;
}
.icon.pardot {
  background-position: -1006px -604px;
}
.icon.hubspot {
  background-position: -24px -807px;
}
.icon.unbounce {
  background-position: -192px -796px;
  width: 195px !important;
}
.icon.survey-gizmo {
  background-position: -394px -786px;
}
.icon.google-analytics,
.icon.google.analytics {
  background-position: -614px -800px;
}
.icon.marketo {
  background-position: -804px -800px;
}
.icon.zoho {
  background-position: -1000px -799px;
}
.icon.php {
  background-position: -42px -290px;
}
.icon.ms-net,
.icon.microsoft {
  background-position: -280px -300px;
}
.icon.java {
  background-position: -520px -295px;
}
.icon.html-js,
.icon.js {
  background-position: -765px -295px;
}
.icon.ruby {
  background-position: -45px -450px;
}
.icon.asp {
  background-position: -283px -447px;
}
.icon.python {
  background-position: -525px -450px;
}
.icon.node {
  background-position: -765px -450px;
}
.icon.vertical-response,
.icon.verticalresponse {
  background-position: 2px -1083px;
}
.icon.silverpop {
  background-position: -146px -1084px;
}
.icon.coldfusion {
  background-position: -297px -1084px;
}
.icon.coming-soon {
  background: none;
}
.icon.coming-soon:before {
  content: "Coming Soon";
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  line-height: 140px;
  text-align: center;
  text-indent: initial;
}
.icon.business-email-validator {
  background-position: -457px -1084px;
}
.icon.open-social-sharing {
  background-position: -600px -1084px;
}
.sub-nav {
  background: none;
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}
.sub-nav ul {
  float: none;
  display: block;
  clear: both;
  text-align: center;
}
.sub-nav ul li {
  margin: 5px 1px;
}
.sub-nav ul li a {
  display: inline-block;
  border: 1px solid transparent;
  padding: 0 10px;
  color: #222;
  border-radius: 5px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26.25px;
  font-size: 0.875rem;
  line-height: 1.640625rem;
  line-height: 30px;
}
.sub-nav ul li a.current-page,
.sub-nav ul li a:hover {
  border-color: #29d;
  color: #29d;
  text-decoration: none;
}
.footer {
  display: block;
  background: #f2f2f2;
  color: #262626;
  text-align: center;
}
.footer .other h3 {
  color: #262626;
  margin: 0 0 25px 0;
}
.footer .other p a {
  text-decoration: underline;
  color: #262626;
}
.footer .other p a:hover {
  color: #29d;
}
.footer .other a.button:hover {
  background-color: #2dc7ff;
}
.footer .info {
  min-width: 480px;
  background: #414141;
  text-align: left;
  padding-top: 25px;
  color: #fff;
  padding-bottom: 60px;
}
.footer .info p {
  color: #929292;
  font-size: 12px;
  line-height: 22.5px;
  font-size: 0.75rem;
  line-height: 1.40625rem;
  line-height: 65px;
  display: inline-block;
}
.footer .info ul {
  display: inline-block;
  font-size: 14px;
  line-height: 26.25px;
  font-size: 0.875rem;
  line-height: 1.640625rem;
}
.footer .info ul.footer-nav {
  display: inline-block;
  text-align: left;
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}
.footer .info ul.footer-nav li {
  margin-right: 3%;
  display: inline-block;
}
.footer .info ul.footer-nav li a {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  font-size: 1rem;
  line-height: 1.875rem;
}
.footer .info ul.footer-nav li a:hover {
  font-style: underline;
}
.footer .info ul.social-icons {
  margin-top: 5px;
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
}
.footer .info ul.social-icons li {
  display: inline-block;
}
.footer .info ul.social-icons li a {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 0 0 10px;
  background: url("//p4.zdassets.com/hc/theme_assets/296183/200036363/footer-social-spritesw-g.png");
  color: rgba(0,0,0,0);
  float: right;
  -webkit-transition: background-position 0.25s ease-in-out;
  transition: background-position 0.25s ease-in-out;
  border-radius: 0 10px;
}
.footer .info ul.social-icons li a.facebook {
  background-position: 0 0;
}
.footer .info ul.social-icons li a.facebook:hover {
  background-position: 0 -70px;
}
.footer .info ul.social-icons li a.twitter {
  background-position: -70px 0;
}
.footer .info ul.social-icons li a.twitter:hover {
  background-position: -70px -70px;
}
.footer .info ul.social-icons li a.gplus {
  background-position: -140px 0;
}
.footer .info ul.social-icons li a.gplus:hover {
  background-position: -140px -70px;
}
.footer .info ul.social-icons li a.linkedin {
  background-position: -210px 0;
}
.footer .info ul.social-icons li a.linkedin:hover {
  background-position: -210px -70px;
}
.footer .info ul.social-icons li a.youtube {
  background-position: -280px 0;
}
.footer .info ul.social-icons li a.youtube:hover {
  background-position: -280px -70px;
}
.footer .info ul.social-icons li a.github {
  background-position: -350px 0;
}
.footer .info ul.social-icons li a.github:hover {
  background-position: -350px -70px;
}
.footer .info .copyright {
  margin-top: 10px;
  color: #fff;
  display: inline-block;
  font-weight: 300;
}
.footer .info .copyright a {
  color: #fff;
}
.footer .other a.button,
.submit-a-request {
  color: #fff;
  width: 260px;
  font-size: 20px;
  line-height: 37.5px;
  font-size: 1.25rem;
  line-height: 2.34375rem;
  text-decoration: none;
  line-height: 45px;
  margin: 10px 10px 25px 10px;
  display: inline-block;
  padding: 0;
  border-radius: 0 10px;
  background-color: #29d;
}
