doctype html
html
	head
		title LoginRadius Developers
		link href='/css/style.css' rel='stylesheet' type='text/css'
		script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
		script src="js/script.js"

		meta name="fragment" content="!"

	body
		.main-nav
			.container.cf
				.logo-box
					.logo 
						a LoginRadius
					.site-description developers

				ul
					li
						a href="http://loginradius.com/overview" Products
					li
						a href="http://support.loginradius.com" Support Docs
					li
						a href="http://apidocs.loginradius.com" API Docs
					li
						a href="https://github.com/loginradius" Github


			.sub-nav
				.container
					ul
						li
							a href="#unified-social-api-libraries" Unified Social API Libraries
						li
							a href="#user-registration-api-libraries" User Registration API Libraries
						li
							a href="#turnkey-plugins-for-content-management-systems" Turnkey Plugins for Content Management Systems
						li
							a href="#packaged-install" Packaged Install
						li
							a href="#open-source-libraries" Open Source Libraries
		
		.main role="main"


			.dev-api-social-login.odd
				.container
					.intro-row
							h2#unified-social-api-libraries.anchors-fix Unified Social API Libraries

							p.sub-intro-info Our open-source and customizable SDKs allow you to seamlessly integrate LoginRadius Social API on any web or mobile application.

					.row.cf
						/! php
						.column
							.icon-frame
								.icon.php
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/php" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/PHP-SDK" Download
						/! ms-net
						.column
							.icon-frame
								.icon.ms-net
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/aspnet" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/dot-net-sdk" Download
						/! java
						.column
							.icon-frame
								.icon.java
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/java" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/Java-SDK" Download
						/! html-js
						.column
							.icon-frame
								.icon.html-js
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/html5-js" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/HTML5-SDK" Download

						/! ruby
						.column
							.icon-frame
								.icon.ruby
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/ruby" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/ruby-on-rails-gem" Download

						/! asp
						.column
							.icon-frame
								.icon.asp
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/aspnet" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/dot-net-sdk" Download

						/! python
						.column
							.icon-frame
								.icon.python
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/python" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/python-sdk" Download

						/! node
						.column
							.icon-frame
								.icon.node
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/nodejs" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/Node-js-SDK" Download

						/! coldfusion
						.column
							.icon-frame
								.icon.coldfusion
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/coldfusion" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/coldfusion-sdk" Download

						/! ios
						.column
							.icon-frame.mobile
								.icon.ios
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/ios" Docs
								a.download-button target="_blank" href="http://github.com/LoginRadius/ios-sdk" Download

						/! android
						.column
							.icon-frame.mobile
								.icon.android
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/android" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/android-sdk" Download

						/! windowsphone
						/ .column
						/ 	.icon-frame.mobile
						/ 		.icon.windowsphone
						/ 	.download-box
						/ 		a.doc-button target="_blank" href="" Docs
						/ 		a.download-button target="_blank" href="" Download

						/! phonegap
						.column
							.icon-frame.mobile
								.icon.phonegap
							.download-box
								a.doc-button target="_blank" href="http://apidocs.loginradius.com/v2.0/docs/phonegap" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/phonegap-sdk" Download
			

			.dev-api-customer-registration.even
				.container
					.intro-row
							h2#user-registration-api-libraries.anchors-fix User Registration API Libraries

							p.sub-intro-info Our open-source and customizable SDKs allow you to seamlessly integrate the LoginRadius User Registration API on any web or mobile application. These libraries also include the Social APIs.

					.row.cf
						/! php
						.column
							.icon-frame
								.icon.php
							.download-box
								a.doc-button target="_blank" href="https://github.com/LoginRadius/php-registration-service-sdk#setup" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/php-registration-service-sdk" Download

						/! coldfusion
						.column
							.icon-frame
								.icon.coldfusion
							.download-box
								a.doc-button target="_blank" href="https://github.com/LoginRadius/coldfusion-registration-service-sdk#setup" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/coldfusion-registration-service-sdk" Download

						/! ios
						.column
							.icon-frame.mobile
								.icon.ios
							.download-box
								a.doc-button target="_blank" href="https://github.com/LoginRadius/coldfusion-registration-service-sdk#setup" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/coldfusion-registration-service-sdk" Download


			.dev-cms.odd
				.container
					.intro-row
							h2#turnkey-plugins-for-content-management-systems.anchors-fix Turnkey Plugins for Content Management Systems

							p.sub-intro-info Our Turnkey Plugins are built for seamless implementation of the LoginRadius solution onto all popular CMS websites for blogging, eCommerce, discussion forums or content.

					.row.cf
						/! WordPress
						.column
							.icon-frame
								span.icon.wordpress WordPress
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201968907-Wordpress-Social-Login-instructions" Docs
								a.download-button target="_blank" href="https://wordpress.org/plugins/loginradius-for-wordpress/" Download

						/! Drupal
						.column
							.icon-frame
								.icon.drupal Drupal
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201994543-Drupal-v7-x-Social-Login-and-Social-Sharing-Instructions" Docs
								a.download-button target="_blank" href="https://www.drupal.org/project/sociallogin" Download

						/! Joomla
						.column
							.icon-frame
								.icon.joomla Joomla
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201897006-Joomla-Social-Login-and-Social-Sharing-instructions-for-v2-5-and-higher" Docs
								a.download-button target="_blank" href="http://loginradius-social-plugins.s3.amazonaws.com/joomla/social-login-and-social-share-module.zip" Download

						/! dotnet
						.column
							.icon-frame
								.icon.dotnet DotNetNuke
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/202366158-DotNetNuke-Social-Login-and-Social-Sharing-instructions" Docs
								a.download-button target="_blank" href="http://store.dotnetnuke.com/home/product-details/social-login-and-social-sharing" Download

						/! presta
						.column
							.icon-frame
								.icon.presta Presta Shop
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201894656-Prestashop-Social-Login-instructions" Docs
								a.download-button target="_blank" href="http://loginradius-social-plugins.s3.amazonaws.com/Prestashop/v1.6/sociallogin.zip" Download

						/! oscommerce
						.column
							.icon-frame
								.icon.oscommerce OS Commerce
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201995063-Os-Commerce-Social-Login-instructions" Docs
								a.download-button target="_blank" href="http://addons.oscommerce.com/info/8306" Download

						/! simplemachines
						.column
							.icon-frame
								.icon.simplemachines Simple Machines
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201994827-Simple-Machines-Forum-Social-Login-instructions" Docs
								a.download-button target="_blank" href="http://dvlirrepj1d2t.cloudfront.net/downloads/plugins/LoginRadius-for-SMF.zip" Download

						/! vanilla
						.column
							.icon-frame
								.icon.vanilla Vanilla
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201896886-Vanilla-Forums-2-Social-Login-instructions" Docs
								a.download-button target="_blank" href="http://vanillaforums.org/addon/sociallogin-plugin" Download

						/! magento
						.column
							.icon-frame
								.icon.magento Magento
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/202334308-Magento-Social-Login-instructions" Docs
								a.download-button target="_blank" href="http://www.magentocommerce.com/magento-connect/catalog/product/view/id/12458/s/social-login-7335/?___store=mc_default_store" Download

						/! zencart
						.column
							.icon-frame
								.icon.xcart Xcart
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201994407-X-Cart-Social-Login-instructions" Docs
								a.download-button target="_blank" href="http://loginradius-social-plugins.s3.amazonaws.com/x-cart/social-login.zip" Download

						/! xcart
						.column
							.icon-frame
								.icon.zencart zencart
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201895206-Zen-Cart-Social-Login-instructions" Docs
								a.download-button target="_blank" href="http://loginradius-social-plugins.s3.amazonaws.com/Zen-Cart/Social-Login-and-Social-Share.zip" Download

						/! vbulletin
						.column
							.icon-frame
								.icon.vbulletin VBulletin
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201994887-vBulletin-Social-Login-instructions" Docs
								a.download-button target="_blank" href="http://loginradius-social-plugins.s3.amazonaws.com/vBulletin/social-login.zip" Download

						/! phpbb
						.column
							.icon-frame
								.icon.phpbb PHP BB
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201994817-phpBB-Social-Login-instructions" Docs
								a.download-button target="_blank" href="https://loginradius-social-plugins.s3.amazonaws.com/phpbb/Social-Login-and-Social-Share-1.0.0.zip" Download

						/! buddypress
						.column
							.icon-frame
								.icon.buddypress Buddy Press
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201968907-Wordpress-Social-Login-instructions" Docs
								a.download-button target="_blank" href="https://wordpress.org/plugins/loginradius-for-wordpress/" Download

						/! bbpress
						.column
							.icon-frame
								.icon.bbpress BB Press
							.download-box
								a.doc-button target="_blank" href="http://support.loginradius.com/hc/en-us/articles/201968907-Wordpress-Social-Login-instructions" Docs
								a.download-button target="_blank" href="https://wordpress.org/plugins/loginradius-for-wordpress/" Download


			.dev-install-packages.even
				.container
					.intro-row
							h2#packaged-install.anchors-fix Packaged Install

							p.sub-intro-info Our pre-built packages allow you to easily integrate LoginRadius Social API in custom made web applications.

					.row.cf

						/! .net nuget
						.column
							.icon-frame
								.icon.ms-net
								.pkg 
									span Nuget
							.download-box
								a.download-button target="_blank" href="https://www.nuget.org/packages/LoginRadiusSDK.NET/" Install

						/! php composer
						.column
							.icon-frame
								.icon.php
								.pkg 
									span Composer
							.download-box
								a.download-button target="_blank" href="https://packagist.org/packages/loginradius/php-sdk-2.0" Install

						/! ruby gems
						.column
							.icon-frame
								.icon.ruby
								.pkg 
									span Gem
							.download-box
								a.download-button target="_blank" href="https://rubygems.org/gems/loginradius/versions/0.1.4" Install

						/! html js bower
						.column
							.icon-frame
								.icon.html-js
								.pkg 
									span Bower
							.download-box
								a.download-button target="_blank" href="https://libraries.io/bower/LoginRadius-HTML5-SDK" Install

						/! python pip
						.column
							.icon-frame
								.icon.python
								.pkg 
									span PIP
							.download-box
								a.download-button target="_blank" href="https://pypi.python.org/pypi/LoginRadius" Install

						/! Node Passport
						.column
							.icon-frame
								.icon.node
								.pkg 
									span Passport
							.download-box
								a.download-button target="_blank" href="https://www.npmjs.com/package/loginradius-sdk" Install

						/! java Maven
						.column
							.icon-frame
								.icon.java
								.pkg 
									span Maven
							.download-box
								a.c-button Coming Soon


			.dev-open-source.odd
				.container
					.intro-row
							h2#open-source-libraries.anchors-fix Open Source Libraries

							p.sub-intro-info To contribute to developer community, our amazing developers have built some open source libraries that you can modify and use.

					.row.cf

						/! 
						.column
							.icon-frame
								.icon.business-email-validator
							.download-box
								a.doc-button target="_blank" href="https://github.com/LoginRadius/business-email-validator#business-email-validator" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/business-email-validator" Download
						/! 
						.column
							.icon-frame
								.icon.open-social-sharing
							.download-box
								a.doc-button target="_blank" href="https://github.com/LoginRadius/open-social-sharing#introduction" Docs
								a.download-button target="_blank" href="https://github.com/LoginRadius/open-social-sharing" Download
		
		.footer
			section.info
				.container
					ul.footer-nav
						li
							a href="//www.loginradius.com" target="_blank" LoginRadius Home
						li
							a href="//www.loginradius.com/products" target="_blank" Products
						li
							a href="//www.loginradius.com/company" target="_blank" Company
						li
							a href="//www.loginradius.com/developers" target="_blank" Developers
						li
							a href="//blog.loginradius.com" target="_blank" Blog
					ul.social-icons
						li
							a.facebook href="https://www.facebook.com/loginradius" target="_blank" Facebook
						li
							a.twitter href="https://twitter.com/LoginRadius" target="_blank" Twitter
						li
							a.gplus href="https://plus.google.com/+Loginradius" target="_blank" Google Plus
						li
							a.linkedin href="http://www.linkedin.com/company/loginradius" target="_blank" Linked In
						li
							a.youtube href="https://www.youtube.com/user/LoginRadius" target="_blank" Youtube
						li
							a.github href="https://github.com/LoginRadius" target="_blank" Github
					.copyright
						span &copy;2015 LoginRadius Inc. 
						a href="http://www.loginradius.com/terms" target="_blank" Terms
						span  |  
						a href="http://www.loginradius.com/privacy" target="_blank" Privacy
						span  |  
						a href="http://www.loginradius.com/contact" target="_blank" Contact





